@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <title>二维码简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link  rel="stylesheet" href="/Content/css/style.css" />
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/jquery.lazyload.js"></script>
    <script language="JavaScript">
        $(function () {
            $("img.lazy").lazyload({
                effect: "fadeIn"
            });
        });
        function is_weixn() {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                return true;
            } else {
                return false;
            }
        }
   </script> 
</head>
<body>
<div class="bmain">
  <div class="head">
    <div class="hleft"><a href="index.html"><img src="/Content/images/syt.png" alt="仕邦人力资源有限公司" /></a><span><img src="/Content/images/logo.png" /></span></div>
     <div class="hright">二维码简历</div>
  </div>
  

  <div class="contxt conjl">
      <div class="erweima">         
          <img class="lazy" data-original="@ViewData["imgsrc"]" alt="二维码简历" />
      </div>
      <div class="ewmspan">
          <span>请长按该二维码保存到手机<br />面试时请出示该二维码</span>
      </div> 
  </div>
   
</div>  
</body>
</html>
